



<!DOCTYPE html>
{% load static %}
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<style>
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}

body{
  background-image:url('https://www.solidbackgrounds.com/images/1440x900/1440x900-beige-solid-color-background.jpg');

}
</style>
<body class="w3-light-grey">


<!-- w3-content defines a container for fixed size centered content,
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1400px">

<!-- Header -->


<header class="w3-container w3-center w3-padding-32">
   
  <!-- <p>Welcome to the blog of <span class="w3-tag">unknown</span></p> -->
</header>



<!-- Grid -->
<div class="w3-row">

<!-- Blog entries -->

<div class="w3-col l8 s12">

  <!-- Blog entry -->


<br>


  <div class="w3-card-4 w3-margin w3-white">
  <!-- <img src="/w3images/bridge.jpg" alt="Norway" style="width:100%"> -->
    <div class="w3-container">
      <h3><b>Hope</b></h3>
      <h5>--name <span class="w3-opacity">April 2, 2014</span></h5>
    </div>
<br>
    <div class="w3-container">
      <p>Hope provides a force to care about ourselves, others, and the world around us, so when hopelessness emerges, it can erode all motivation. When people experience loss, disruption, or instability, they can respond with increased levels of hopelessness.</p>
  <br>
  <br>
  <h3>When to get professional help for feelings of Hopelessness</h3>
  <br>
  <p>People will need to get professional help for hopelessness when it starts to consistently or powerfully influence their lives. It can become a problem when it starts to negatively impact your daily life activities. Like with many other mental health issues, getting help for hopelessness soon after symptoms begin is essential to stop the symptom from growing and spreading to other conditions. Letting hopelessness build and go untreated can result in new or worsening mental health conditions.</p>
  <h3>How to cope with Hopelessness:</h3>
  <br>
  <p>•	The feeling is mostly in our head and it can rob a person of their optimism and will to live. By taking simple steps to modify our thoughts by trying to think more positively, you can successfully cope with hopelessness.</p>
  <br>
  <p>•	Try to find out the sources to your feeling.  Every experience, every situation, every conversation, and every thought influences your level of hopelessness. Unless you can begin to identify the sources of your hopelessness, there is no way to change the way you feel.</p>
  <br>
  <p>•	Once you find out your sources make the decision to change your triggers and escape the triggers you cant. If spending time around a certain person consistently makes you feel hopeless, make the conscious decision to stay away.</p>
  <br>
  <p>•	Adjust your physical health. It may seem unrelated,  but how you feel physically will have a significant impact on how you feel mentally. To take care of your physical health, try to have a fixed time to sleep, eat wellbr

  <br>
  <p>•	Now that you have worked to avoid or modify your interactions with people who trigger your hopelessness, commit more time and energy to engage with people who inspire hope. Call, schedule video chats, and plan visits with these friends and loved ones. Doing so will help balance out the hopelessness you feel</p>
  <br>
  <p>•	Hopelessness has a way of drawing out all of the characteristics of yourself. By focusing on these issues, you only feel worse. Try to avoid thinking about them and persuade your brain towards thinking of the parts of the world that bring you joy, happiness, contentment, fulfillment, connection, and belonging.</p>
  <br>
      <div class="w3-row">
        <div class="w3-col m8 s12">
          <!-- <p><button class="w3-button w3-padding-large w3-white w3-border"><b>READ MORE »</b></button></p> -->
        </div>
        <div class="w3-col m4 w3-hide-small">
          <p><span class="w3-padding-large w3-right"><b>Views  </b> <span class="w3-badge">2</span></span></p>
        </div>
      </div>
    </div>
  </div>
<br>


<!-- END BLOG ENTRIES -->
</div>

<!-- Introduction menu -->
<div class="w3-col l4">
  <!-- About Card -->
  <!-- <div class="w3-card w3-margin w3-margin-top">
  <img src="/w3images/avatar_g.jpg" style="width:100%">
    <div class="w3-container w3-white">
      <h4><b>My Name</b></h4>
      <p>Just me, myself and I, exploring the universe of uknownment. I have a heart of love and a interest of lorem ipsum and mauris neque quam blog. I want to share my world with you.</p>
    </div>
  </div><hr> -->

  <!-- Posts -->
  <div class="w3-card w3-margin">
    <div class="w3-container w3-padding">
      <h4>Popular Posts</h4>
    </div>
    <ul class="w3-ul w3-hoverable w3-white">
      <li onclick="document.location='/article1'"class="w3-padding-16">
        <!-- <img src="/w3images/workshop.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px"> -->
        <span class="w3-large">Grief</span><br>
        <span>text</span>
      </li>
      <li onclick="document.location='/article2'"class="w3-padding-16">
        <!-- <img src="/w3images/gondol.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px"> -->
        <span class="w3-large">Substance Abuse</span><br>
        <span>text</span>
      </li>
      <li onclick="document.location='/article3'"class="w3-padding-16">
        <!-- <img src="/w3images/skies.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px"> -->
        <span class="w3-large">Anger</span><br>
        <span>text</span>
      </li>
      <!-- <li class="w3-padding-16 w3-hide-medium w3-hide-small"> -->
  <li onclick="document.location='/article4'"class="w3-padding-16">
        <!-- <img src="/w3images/rock.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px"> -->
        <span class="w3-large">Stress</span><br>
        <span>text</span>
      </li>
    </ul>
  </div>
  <hr>

  <!-- Labels / tags -->
  <!-- <div class="w3-card w3-margin">
    <div class="w3-container w3-padding">
      <h4>Tags</h4>
    </div>
    <div class="w3-container w3-white">
    <p><span class="w3-tag w3-black w3-margin-bottom">Travel</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">New York</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">London</span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">IKEA</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">NORWAY</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">DIY</span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Ideas</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Baby</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Family</span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">News</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Clothing</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Shopping</span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Sports</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Games</span>
    </p>
    </div>
  </div> -->

<!-- END Introduction Menu -->
</div>
<div class="upload">
  <center><h2></h2></center>
<center><a class="btn btn-primary " href="{% url 'index' %}">Back to Home Page</a></center>

</div>
<!-- END GRID -->
</div><br>

<!-- END w3-content -->
</div>

<!-- Footer -->
<footer class="w3-container w3-dark-grey w3-padding-32 w3-margin-top">
  <button class="w3-button w3-black w3-disabled w3-padding-large w3-margin-bottom">Previous</button>
  <button class="w3-button w3-black w3-disabled w3-padding-large w3-margin-bottom">Next »</button>
  <p>Powered by --------</p>
</footer>

</body>
</html>
