



<!DOCTYPE html>
{% load static %}
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<style>
body {font-family: "Raleway", sans-serif;font-size:16.5px;}

body{
  background-image:url('https://www.solidbackgrounds.com/images/1440x900/1440x900-beige-solid-color-background.jpg');

}
</style>
<body class="w3-light-grey">


<!-- w3-content defines a container for fixed size centered content,
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1400px">

<!-- Header -->


<header class="w3-container w3-center w3-padding-32">
  <h1><b> </b></h1>
  <!-- <p>Welcome to the blog of <span class="w3-tag">unknown</span></p> -->
</header>



<!-- Grid -->
<div class="w3-row">

<!-- Blog entries -->

<div class="w3-col l8 s12">
  <!-- Blog entry -->


<br>


  <div class="w3-card-4 w3-margin w3-white">
  <!-- <img src="/w3images/bridge.jpg" alt="Norway" style="width:100%"> -->
    <div class="w3-container">
      <h3><b>Stress</b></h3>
      <h5>--name <span class="w3-opacity">April 2, 2014</span></h5>
    </div>
<br>
    <div class="w3-container">
      <p>Stress affects teenagers almost every day. Many feel stressed-out when they have a test, job, or too many activities. It can even be caused from something as small as riding a roller coaster. Goals and challenges are the main cause because they are thought to be hard to complete. Stress is a well-known trigger for depression and can also affect physical health. It is important to identify the causes of stress in a teenager’s life and try to minimize them. Stress, no matter if it is small or big, occurs in teenagers’ lives today.</p>
    <br>
    <br>
    <p>The main causes of stress in a teenager’s life come from school, work, activities, friends, and family. There are two forms that it comes in. The first form is called acute stress, which lasts for a short period of time. This can be caused from missing the bus, fighting with a friend, or giving a speech in school. Another kind of stress is chronic stress, which is long-term stress. Examples include repeated struggle in school, illness/disability, or an illogical fear (heights, bugs, etc). Most teenagers begin with acute stress and then gradually feel overwhelmed, which develops into chronic stress.</p>
    <br>
    <br>
    <p>The causes of stress come with both internal and external effects. It depends on the person, but the internal effects include anxiety, irritability, and nervousness. External effects include breathing faster, sweating, muscles tensing, dry mouth, keener senses, and lack of energy, headaches, and sickness. A stressed person tends to have trouble paying attention and have trouble recalling facts. </p>
  <br>
  <br>
  <p>Every day teenagers face situations that can be stressful, which can develop when the teenager matures into an adult. Finding strategies to avoid and control stress are beneficial so that the person can mix a happy life with work. To become stress-free, the person has to change their thoughts, attitudes, feelings, communication, response, and circumstances. Physically, teenagers must eat healthy, get enough sleep (around eight to nine hours), and exercise. Teenagers should remember to keep ideas into perspective and be optimistic. Surrounding themselves with good friends, a good level of activities, and enough time to get school work done is essential.</p>
  <br>
  <br>
  <h2>Stress Management</h2>
  <p>Your family, and friends, can surprisingly also lead to better stress management and coping. A research study done by Warr & Payne in 1982 has concluded that a lot of things, one being that people who are accompanied by friends and/or family during hard times expressed feelings of happiness while these events were taking place.</p>
  <br>
  <br>
  <p>Exercise is a great way to alleviate stress. Exercise gives us the opportunity to get up and go. Physical fitness leads to greater self-confidence and self-discipline </p>
  <br>
  <br>
  <p>Optimism also seems to offer some protection against the effects of stress. Compared with their pessimistic counterparts (those with a negative approach to life), students identified as optimists have stronger immune systems and are less likely to become ill or fatigued during the last month of the semester</p>
  <br>
  <br>

      <div class="w3-row">
        <div class="w3-col m8 s12">
          <!-- <p><button class="w3-button w3-padding-large w3-white w3-border"><b>READ MORE »</b></button></p> -->
        </div>
        <div class="w3-col m4 w3-hide-small">
          <p><span class="w3-padding-large w3-right"><b>Views  </b> <span class="w3-badge">2</span></span></p>
        </div>
      </div>
    </div>
  </div>
<br>


<!-- END BLOG ENTRIES -->
</div>

<!-- Introduction menu -->
<div class="w3-col l4">
  <!-- About Card -->
  <!-- <div class="w3-card w3-margin w3-margin-top">
  <img src="/w3images/avatar_g.jpg" style="width:100%">
    <div class="w3-container w3-white">
      <h4><b>My Name</b></h4>
      <p>Just me, myself and I, exploring the universe of uknownment. I have a heart of love and a interest of lorem ipsum and mauris neque quam blog. I want to share my world with you.</p>
    </div>
  </div><hr> -->

  <!-- Posts -->
  <div class="w3-card w3-margin">
    <div class="w3-container w3-padding">
      <h4>Popular Posts</h4>
    </div>
    <ul class="w3-ul w3-hoverable w3-white">
      <li onclick="document.location='/article1'"class="w3-padding-16">
        <!-- <img src="/w3images/workshop.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px"> -->
        <span class="w3-large">Grief</span><br>

      </li>
      <li onclick="document.location='/article2'"class="w3-padding-16">
        <!-- <img src="/w3images/gondol.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px"> -->
        <span class="w3-large">Substance Abuse</span><br>

      </li>
      <li onclick="document.location='/article3'"class="w3-padding-16">
        <!-- <img src="/w3images/skies.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px"> -->
        <span class="w3-large">Anger</span><br>

      </li>
      <!-- <li class="w3-padding-16 w3-hide-medium w3-hide-small"> -->
  <li onclick="document.location='/article5'"class="w3-padding-16">
        <!-- <img src="/w3images/rock.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px"> -->
        <span class="w3-large">Hopelessness</span><br>

      </li>
    </ul>
  </div>
  <hr>

  <!-- Labels / tags -->
  <!-- <div class="w3-card w3-margin">
    <div class="w3-container w3-padding">
      <h4>Tags</h4>
    </div>
    <div class="w3-container w3-white">
    <p><span class="w3-tag w3-black w3-margin-bottom">Travel</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">New York</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">London</span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">IKEA</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">NORWAY</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">DIY</span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Ideas</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Baby</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Family</span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">News</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Clothing</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Shopping</span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Sports</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Games</span>
    </p>
    </div>
  </div> -->

<!-- END Introduction Menu -->
</div>
<div class="upload">
  <center><h2></h2></center>
<center><a class="btn btn-primary " href="{% url 'index' %}">Back to Home Page</a></center>

</div>
<!-- END GRID -->
</div><br>

<!-- END w3-content -->
</div>

<!-- Footer -->
<footer class="w3-container w3-dark-grey w3-padding-32 w3-margin-top">
  <!-- <button class="w3-button w3-black w3-disabled w3-padding-large w3-margin-bottom">Previous</button>
  <button class="w3-button w3-black w3-disabled w3-padding-large w3-margin-bottom">Next »</button>
  <p>Powered by --------</p> -->
</footer>

</body>
</html>
