



<!DOCTYPE html>
{% load static %}
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


<style>
body {font-family: "Raleway", sans-serif;font-size:16.5px;}

body{
  background-image:url('https://www.solidbackgrounds.com/images/1440x900/1440x900-beige-solid-color-background.jpg');

}
</style>
<body class="w3-light-grey">


<!-- w3-content defines a container for fixed size centered content,
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1400px">

<!-- Header -->


<header class="w3-container w3-center w3-padding-32">

  <!-- <p>Welcome to the blog of <span class="w3-tag">unknown</span></p> -->
</header>



<!-- Grid -->
<div class="w3-row">

<!-- Blog entries -->
<div class="w3-col l8 s12">
  <!-- Blog entry -->
  <div class="w3-card-4 w3-margin w3-white">
              <p><span class="w3-padding-large w3-right"><b>Views  </b> <span class="w3-badge">150</span></span></p>
    <!-- <img src="/w3images/woods.jpg" alt="Nature" style="width:100%"> -->
    <div class="w3-container">
      <h3><b>Culture</b></h3>
      <h5> <span class="w3-opacity">April 7, 2022</span></h5>
    </div>

    <div class="w3-container">

      <p>Culture is naturally supposed to be perceived as one’s rich heritage. But no one should advocate someone asking him/her to embrace it because today’s evolving world and society has established a different viewpoint on “Culture”. A viewpoint from the perspective of we, Teenagers.</p>
      <br>
      <br>
      <p>Adolescence is a very bumpy and cautious road that every human being takes in the journey of life.  All teens go through changes; physical changes, social and emotional changes, and the process of developing their individual identity. Teens who come from different backgrounds are influenced by different cultural norms and parental expectations that stem from different attitudes toward values and norms in society. </p>
      <br>
      <br>

      <p> On one hand parents’ and well-wishers’ guidance is vital and on the other every young adult should be given the liberty to make certain choices. Choices concerning their interest in following the culture of one’s family.  </p>
      <br>
      <br>

      <p>Parenting practices are influenced by culture, and an adolescent's upbringing is affected by the ethnic group, values, and traditions that he belongs to, as well as his socio-economic situation. An adolescent that grows up in a family where the nature of adolescence, parental control and family obligations are different from that of his or her peers, may encounter an identity crisis that creates conflicts with the family. </p>
      <br>
      <br>
      <p>In a moderately modern country like India, there are constant conflicts between families. Especially between the parents and children. Teenagers love modernising and evolving with the changing times. But parents prefer to be orthodox and traditional and although they want what’s best for their children, they so often end up forcing their culture on them against their will and choice. </p>
      <br>
      <br>
      <p>For example, an adequate number of girls in India are incessantly confronted about the way they want to present themselves as their own individuals. Their sense of fashion is taken into question and are judged whether it’s inappropriate or not. </p>
      <br>
      <br>
      <p>Similarly, there are a lot of Taboos and Stereotypes concerning tattoos, hairstyles, party life, the HUG culture, sexual relationships, etc. What all these have in common is that teenagers are not given a choice most often in these subjects and their parents and guardians make their decisions. This directly impacts their mental health causing them to feel a rage of emotions such as Anger, Disappointment, and Anxiety. This does not imply that other cultures are bad/meaningless/underappreciated,  but this induces one’s consciousness to be understanding with respect to letting teenagers make choices regarding the culture they want to pursue and the type of person they want to portrait themselves as.</p>
      <br>
      <br>
      <br>
      <div class="w3-row">
        <div class="w3-col m8 s12">
          <!-- <p><button class="w3-button w3-padding-large w3-white w3-border"><b>READ MORE »</b></button></p> -->
        </div>
        <div class="w3-col m4 w3-hide-small">
          <!-- <p><span class="w3-padding-large w3-right"><b>Views  </b> <span class="w3-tag">150</span></span></p> -->
        </div>
      </div>
    </div>
  </div>
  <hr>

  <!-- Blog entry -->
  <div class="w3-card-4 w3-margin w3-white">
  <!-- <img src="/w3images/bridge.jpg" alt="Norway" style="width:100%"> -->
    <div class="w3-container">
      <h3><b>COVID-19 Impact on mental health</b></h3>
      <h5> <span class="w3-opacity">April 3, 2022</span></h5>
    </div>

    <div class="w3-container">
      <p>According to the report, children, adolescents, and young
      adults will face unprecedented challenges during the
      pandemic. The COVID-19 pandemic has drastically altered
      their lives, including how they go to school, interact with their
      peers, and receive health care. They missed first days of
      school, months, and even years of in-person schooling,
      graduation ceremonies, sports competitions, field trips, and
      time with family and friends. They and their families may no
      longer have access to mental health care, social services,
      income, food, or housing. They may have had COVID-19
      themselves, encountered long COVID symptoms, or lost a
      loved one to the disease.Since the early stages of the
      pandemic, rates of psychological distress among young people
      have risen, including symptoms of anxiety, depression, and
      other mental health disorders. </p>
      <br>
      <p>Negative emotions or behavior patterns associated with
      conditions such as ADHD, such as impulsivity and irritability,
      appear to have moderately increased. Furthermore, pandemicrelated measures decreased in-person interactions between
      children.
      </p>
      <br>
      <p>Friends, social supports, and professionals such as teachers,
      school counsellors, pediatricians, and child welfare workers
      are all valuable resources. This made it more difficult to
      detect signs of child abuse, mental health issues, and other
      issues. </p>
      <br>
      <h3>Coping up with COVID-19 problems
      </h3>
      <br>
      <p>
        1) Finding a new hobby.<br>
        2) Learning different things. Eg;- musical instruments.<br>
        3) Working out every day.<br>
        4) Making a to-do list and following it, so in that way you
        keep yourself busy with things you enjoy doing.<br> </p>
      <div class="w3-row">
        <div class="w3-col m8 s12">
          <!-- <p><button class="w3-button w3-padding-large w3-white w3-border"><b>READ MORE »</b></button></p> -->
        </div>
        <div class="w3-col m4 w3-hide-small">
          <!-- <p><span class="w3-padding-large w3-right"><b>Views</b> <span class="w3-badge">2</span></span></p> -->
        </div>
      </div>
    </div>
  </div>

<br>


  <div class="w3-card-4 w3-margin w3-white">
  <!-- <img src="/w3images/bridge.jpg" alt="Norway" style="width:100%"> -->
    <div class="w3-container">
      <h3><b>Pressure</b></h3>
      <h5> <span class="w3-opacity">April 6, 2022</span></h5>
    </div>
<br>
    <div class="w3-container">
      <br>
      <p>Teenagers are being trapped in a world of pressures nowadays from a lot of contributing sources, the main ones being parental pressure and school pressure. These can lead to teenagers being very stressed and nervous.</p>
      <br>
      <p>Parental pressure is one of the main reasons for teenage pressure because they can set far too strict rules and try to make you do well at school. Hence, without giving care to the wholesome development of a child, parents keep on pushing the boundaries that ultimately leads to stress, disappointment and anxiety.</p>
      <br>
      <p>Pressure to do well at school has been shown to increase stress and anxiety in students, leading to poorer physical, social and emotional health. Students can feel pressure from their parents, school, teachers or society to achieve higher grades and academic success.</p>
      <br>
      <p>A major problem throughout the world is examination stress on students-a state of perpetual tension which happens throughout the examinations. It plays a vital role on physical and mental being of students causing negative impacts on academic progress and mental health. The main reason behind exam stress results from pressure from the peer group, family and society.</p>
      <br>
      <p>Recognizing the signs of stress and anxiety in our students, helping them to develop practical coping skills ,working in partnership with parents, reinforcing the importance of balance and establishing realistic expectations are all helpful approaches schools can take to support students who feel pressure to do well academically.</p>

      <br>
      <div class="w3-row">
        <div class="w3-col m8 s12">
          <!-- <p><button class="w3-button w3-padding-large w3-white w3-border"><b>READ MORE »</b></button></p> -->
        </div>
        <div class="w3-col m4 w3-hide-small">
          <!-- <p><span class="w3-padding-large w3-right"><b>Views  </b> <span class="w3-badge">2</span></span></p> -->
        </div>
      </div>
    </div>
  </div>
<br>

  <div class="w3-card-4 w3-margin w3-white">
  <!-- <img src="/w3images/bridge.jpg" alt="Norway" style="width:100%"> -->
    <div class="w3-container">
      <h3><b>Mental Health</b></h3>
      <h5> <span class="w3-opacity">April 2, 2014</span></h5>
    </div>

    <div class="w3-container">
      <br><p>Mental illness can affect many aspects of life, including intimate relationships. If someone is suffering from a mental illness, spending time with friends may be more difficult for them. Feelings of depression or anxiety can make normal social events seem intimidating, daunting or exhausting. Friends often mistakenly think that the person with the condition doesn’t want to see them. The stigma around mental health can mean that some people don’t understand what their friend is going through and how to respond.</p>
<br>
<p>People with mental health problems often lose friends while they struggle with their condition. It is important to maintain friendships with people experiencing mental health issues, as your support and understanding could help them overcome the condition. The mental health problem doesn’t define a person – just because they have a mental illness it doesn’t mean that you can’t have fun together.</p>
<br>
<p>Don’t ignore warning signs of mental illness in a family member or friend. The sooner the person receives support and treatment, the better the outcome is likely to be. It can help to:</p>
<p>•	Encourage the person to speak with a doctor about their concerns.<br>
•	Speak with your doctor about your concerns and what options might be available if the person is reluctant to see their doctor.
</p><br>
<p>Mental illness often has a ‘ripple effect’ on families, creating tension, uncertainty, stress and sometimes significant changes in how people live their lives. Different family members are likely to be affected in different ways. </p>
<br><p>It's normal to feel a whole range of emotions, such as guilt, fear, anger and sadness. Acknowledging these feelings can be the first step towards working through them. No one is to blame when a person is affected by mental illness.</p>
<br>
<p>Some individuals may experience hesitancy or fear of disclosing to their partner due to mental illness's continued stigma. Communication is key to having a healthy, positive relationship despite mental health struggles. We hesitate to share with our partners for fear of pushing them away. For the partner, it can be helpful for them to understand the steps you’re taking to treat your mental health condition such as therapy and/or medication. This can help to normalize it and get insight and awareness of the mental health illness.</p>
      <div class="w3-row">
        <div class="w3-col m8 s12">
          <!-- <p><button class="w3-button w3-padding-large w3-white w3-border"><b>READ MORE »</b></button></p> -->
        </div>
        <div class="w3-col m4 w3-hide-small">
          <!-- <p><span class="w3-padding-large w3-right"><b>Views  </b> <span class="w3-badge">2</span></span></p> -->
        </div>
      </div>
    </div>
  </div>
<!-- END BLOG ENTRIES -->
</div>

<!-- Introduction menu -->
<div class="w3-col l4">
  <!-- About Card -->
  <!-- <div class="w3-card w3-margin w3-margin-top">
  <img src="/w3images/avatar_g.jpg" style="width:100%">
    <div class="w3-container w3-white">
      <h4><b>My Name</b></h4>
      <p>Just me, myself and I, exploring the universe of uknownment. I have a heart of love and a interest of lorem ipsum and mauris neque quam blog. I want to share my world with you.</p>
    </div>
  </div><hr> -->

  <!-- Posts -->
  <div class="w3-card w3-margin">
    <div class="w3-container w3-padding">
      <h4>Popular Posts</h4>
    </div>
    <ul class="w3-ul w3-hoverable w3-white">
      <li class="w3-padding-16">
        <!-- <img src="/w3images/workshop.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px"> -->
        <span class="w3-large">Title</span><br>
        <span>text</span>
      </li>
      <li class="w3-padding-16">
        <!-- <img src="/w3images/gondol.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px"> -->
        <span class="w3-large">Title</span><br>
        <span>text</span>
      </li>
      <li class="w3-padding-16">
        <!-- <img src="/w3images/skies.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px"> -->
        <span class="w3-large">Title</span><br>
        <span>text</span>
      </li>
      <li class="w3-padding-16 w3-hide-medium w3-hide-small">
        <!-- <img src="/w3images/rock.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px"> -->
        <span class="w3-large">Title</span><br>
        <span>text</span>
      </li>
    </ul>
  </div>
  <hr>

  <!-- Labels / tags -->
  <!-- <div class="w3-card w3-margin">
    <div class="w3-container w3-padding">
      <h4>Tags</h4>
    </div>
    <div class="w3-container w3-white">
    <p><span class="w3-tag w3-black w3-margin-bottom">Travel</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">New York</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">London</span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">IKEA</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">NORWAY</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">DIY</span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Ideas</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Baby</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Family</span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">News</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Clothing</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Shopping</span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Sports</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Games</span>
    </p>
    </div>
  </div> -->

<!-- END Introduction Menu -->
</div>
<!-- <div class="upload">
  <center><h2></h2></center>
  <button onclick="document.location='/upload'" class="btn btn-primary btn-lg btn-block" type="button" name="button">To send us your stories, click here</button>

</div> -->
<!-- END GRID -->
</div><br>

<!-- END w3-content -->
</div>
<center><a class="btn btn-primary " href="{% url 'index' %}">Back to Home Page</a></center>

 <!-- <footer class="w3-container w3-dark-grey w3-padding-32 w3-margin-top">
  <!-- <button class="w3-button w3-black w3-disabled w3-padding-large w3-margin-bottom">Previous</button>
  <button class="w3-button w3-black w3-disabled w3-padding-large w3-margin-bottom">Next »</button>
  <p>Powered by --------</p> -->
  <!-- <center><a class="btn btn-primary " href="{% url 'index' %}">Back to Home Page</a></center> -->
<!-- </footer> -->
<br>
<br>
<br>


</body>
</html>
